header.header
    img(src='img/logo.gif')
    nav
        ul
            - each page,i in Navigation
                - if (currentPage === page.link)
                    li(class='#{page.link}').active
                        a(href='#{page.link}.html') #{page.title}
                - else
                    li(class="#{page.link}")
                        a(href='#{page.link}.html') #{page.title}