doctype html
html
  head
    title Alexandru Rosianu

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='css/styles.css')

  body
    .popup-nav.fixed
      a.trigger(href='#0')
        span
 
      nav
        ul
          each item in menu
            li
              a(href='#{item.href}') #{item.title}
    
    .fullscreen
      nav
        .logo
          include ../svg/logo.svg
          
        .popup-nav
          a.trigger(href='#0')
            span
     
          nav
            ul
              each item in menu
                li
                  a(href='#{item.href}') #{item.title}

        ul
          each item in menu
            li
              a(href='#{item.href}') #{item.title}

      .hero
        h2 WELCOME TO MY WEBSITE
        h1 ALEXANDRU ROSIANU
        h2.title WEB DEVELOPER

      .scroll
        p
          a(href='#') FIND OUT MORE
        a(href='#')
          include ../svg/arrows.svg

    .below-fullscreen
      section
        h3
          span About Me
        
        ul
          li
            p
              span WHO I AM
              span I’m an avid programmer from Romania, passionate about code, design, user experience and technology. I also like science, travelling and films.
          li
            p
              span WHAT I DO
              span I create websites, I build Android/iOS applications and I play with Sketch trying to design things.
          li
            p
              span WORK
              span I work for a brilliant startup called #[a(href='https://www.startersquad.com' target='_blank') StarterSquad], where my distributed team and I help people transform their ideas into thriving startups that change the world.
          li
            p
              span FREE TIME
              span In my free time I swim, read, play games, rock my guitar and participate in contests, conferences or hackathons.
          li
            p
              span EARLY LIFE
              span Read more about how I started to love programming on my blog, #[a(href='#' target='_blank') right here].
        
      img(src='../img/photo.jpg')
        
      section
        h3
          span Skills
        
        ul
          li
            p
              span WEB
              span Fullstack JS, CSS Preprocessors, Workflow 
                
            p
              span MOBILE &amp; DESKTOP
              span Android, .NET
                
            p
              span OTHERS
              span Databases, Testing, Agile Development
                
            p
              span STILL LEARNING
              span iOS, Mac, UX/UI Design
                
            p
              span WHAT I USE
              span Atom, MacVim, Android Studio<br>iTerm 2, Sketch 3, OS X
              

    script(src='js/main.js')
