doctype html
html
  head
    title Alexandru Rosianu

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Avid programmer passionate about code, design, startups and technology. Currently working as a Web and Mobile Developer at @StarterSquad.')
      
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/favicon-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/favicon-160x160.png', sizes='160x160')
    link(rel='icon', type='image/png', href='/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
      
    meta(name='msapplication-TileColor', content='#182a3d')
    meta(name='msapplication-TileImage', content='/mstile-144x144.png')
      
    // inject:css

  body
    .fullscreen
      a(name='home' id='home')
      
      header
        a.logo(href='/') AR
        
        .popup-nav
          a.trigger
            span
     
          nav
            ul
              each item in menu
                li
                  a(href='#{item.href}', data-scroll) #{item.title}

        nav
          ul
            each item in menu
              li
                a(href='#{item.href}', data-scroll) #{item.title}

      .hero
        h2 WELCOME TO MY WEBSITE
        h1 ALEXANDRU ROSIANU
        h2 WEB DEVELOPER

      .scroll
        p
          a(href='#about' data-scroll) FIND OUT MORE
        a(href='#about' data-scroll)
          include ../svg/arrows.svg

    .below-fullscreen
      a(name='about' id='about')
      
      section
        h3
          span About Me
        
        ul.paragraphs
          li
            p
              span WHO I AM
              span I’m an avid programmer from Romania, passionate about code, design, startups and technology. I like science, travelling and films.
          li
            p
              span WHAT I DO
              span I create websites, I build servers, I craft Android/iOS applications and I play with Sketch learning to design great UIs.
          li
            p
              span WORK
              span I work for a brilliant startup called #[a(href='https://www.startersquad.com') StarterSquad], where my distributed team and I help people transform their ideas into thriving startups that change the world.
          li
            p
              span FREE TIME
              span In my free time I swim, read, play games, rock my guitar and participate in contests, conferences or hackathons.
          //-li
            p
              span EARLY LIFE
              span Read more about how I started to love programming on my blog, #[a(href='#') right here].
        
      img(src='img/photo.jpg')
        
      a(name='skills' id='skills')
        
      section
        h3
          span Skills
        
        ul.paragraphs
          li
            p
              span WEB
              span SASS/LESS/Stylus, Jade#[br]AngularJS, Backbone
                
          li
            p
              span BACKEND
              span Node.js, Java, Scala#[br]Express, Geddy, Sails, Akka
                
          li
            p
              span MOBILE &amp; DESKTOP
              span Android, .NET
                
          li
            p
              span OTHERS
              span Graph/NoSQL/SQL Databases#[br]Testing, Agile Development#[br]Machine Learning
                
          li
            p
              span STILL LEARNING
              span iOS/Mac Dev, UX/UI Design, DevOps
                
          li
            p
              span WHAT I USE
              span Atom, MacVim, Android Studio#[br]IDEA, iTerm 2, Sketch 3, OS X
                
      a(name='portfolio' id='portfolio')
                
      section.inverted
        h3
          span Portfolio
        
        .row
          .item
            a(href='http://cnrv.herokuapp.com')
              img(src='img/portfolio-1.jpg')
            
            footer
              span
                a(href='http://cnrv.herokuapp.com') CNRV.ro
              //- span.btn READ MORE
            
          .item
            a(href='//www.aluxian.com')
              img(src='img/portfolio-2.jpg')
            
            footer
              span
                a(href='//www.aluxian.com') Aluxian.com
              //- span.btn READ MORE
              
        p.more-portfolio See more code on #[a(href='https://github.com/Aluxian') GitHub] and some designs on #[a(href='https://www.behance.net/aluxian') Bēhance].
              
      a(name='achievements' id='achievements')
      
      section
        h3
          span Achievements
          
        ul.posts
          li
            p 17 December, 2014
            p Completed a #[a(href='https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=972304') Machine Learning course] offered by Stanford University on Coursera
          
          li
            p 28 July – 3 August, 2014
            p Went to the #[a(href='http://infoeducatie.ro/2014/') InfoEducatie National Contest] with Butler, a voice assistant application
          
          li
            p 15-18 May, 2014
            p Went to the #[a(href="http://www.satmar.ro/oti2014/public/") National Olympiad of C#]
          
          li
            p 16 December, 2013
            p Won the #[a(href='http://createhs.com') CreateHS] November challenge with #[a(href='http://cnrv.herokuapp.com') CNRV.ro] judged by #[a(href='https://twitter.com/gvanrossum') @gvanrossum] #[a(href='https://twitter.com/pamelafox') @pamelafox] #[a(href='https://twitter.com/jeresig') @jeresig] #[a(href='https://twitter.com/dhh') @dhh]
          
          li
            p 11 November, 2013
            p Started working at #[a(href='https://www.startersquad.com') StarterSquad.com]
                        
          li
            p 1-3 November, 2013
            p Learned about startups and met fascinating people at #[a(href='http://iasi.startupweekend.org') Startup Weekend Iasi]
            
          li
            p 28 July – 3 August, 2013
            p 1st place @ #[a(href="http://infoeducatie.ro/2013/") Cisco Network Programmability contest] with a QoS Manager app for Cisco routers
            
          li
            p 28 July – 3 August, 2013
            p Went to the #[a(href='http://infoeducatie.ro/2013/') InfoEducatie National Contest] with Hub, a social messaging platforms aggregator app
              
          li
            p September 2012 – June 2013
            p Published an app in the Play Store that reached 80,000 installs
              
      a(name='blog' id='blog')
                
      section.inverted
        h3
          span Recent Blog Posts
          
        p.more-portfolio The blog is still in the works. Check back soon!
          
        //-ul.posts
          each post in posts
            li
              p #{post.meta}
              p
                 a(href="#{post.link}") #{post.title}
              
      footer
        p Proudly hosted on #[a(href='https://pages.github.com') GitHub].#[br]Designed and coded with &hearts; by myself.
        hr
        ul
          li
            a(href='https://plus.google.com/+AlexandruRosianu' title='Google+')
              include ../svg/gplus.svg
          li
            a(href='https://www.facebook.com/aluxian' title='Facebook')
              include ../svg/facebook.svg
          li
            a(href='https://twitter.com/Aluxian' title='Twitter')
              include ../svg/twitter.svg
          li
            a(href='https://github.com/Aluxian' title='GitHub')
              include ../svg/github.svg  
          li
            a(href='https://www.linkedin.com/in/alexandrurosianu' title='LinkedIn')
              include ../svg/linkedin.svg
          li
            a(href='mailto:me@aluxian.com' title='Email')
              include ../svg/email.svg
              
    // inject:js
