doctype html
html
  head
    title Alexandru Rosianu – Geek, Mentor, Student, Developer

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Avid programmer passionate about code, design, startups and technology. Currently working on my own startup @FuturisticoXYZ.')

    link(rel='apple-touch-icon' sizes='57x57' href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='114x114' href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='72x72' href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='144x144' href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='60x60' href='/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='120x120' href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='76x76' href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='152x152' href='/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon-180x180.png')
    link(rel='icon' type='image/png' href='/favicon-192x192.png' sizes='192x192')
    link(rel='icon' type='image/png' href='/favicon-160x160.png' sizes='160x160')
    link(rel='icon' type='image/png' href='/favicon-96x96.png' sizes='96x96')
    link(rel='icon' type='image/png' href='/favicon-16x16.png' sizes='16x16')
    link(rel='icon' type='image/png' href='/favicon-32x32.png' sizes='32x32')

    meta(name='msapplication-TileColor' content='#182a3d')
    meta(name='msapplication-TileImage' content='/mstile-144x144.png')

    meta(name='twitter:card', value='summary')
    meta(property='og:title', content='Alexandru Rosianu')
    meta(property='og:type', content='article')
    meta(property='og:url', content='http://www.aluxian.com/')
    meta(property='og:image', content='http://www.aluxian.com/img/photo@1920.jpg')
    meta(property='og:description', content='Avid programmer passionate about code, design, startups and technology. Currently working on my own startup @FuturisticoXYZ.')

    link(rel='stylesheet' type='text/css' href='fonts.css')
    link(rel='stylesheet' type='text/css' href='styles.css')

  body
    .fullscreen
      a(name='home' id='home')

      header
        a.logo(href='/') AR

        .popup-nav
          a.trigger
            span

          nav
            ul
              each item in menu
                li
                  a(href='#{item.href}' data-scroll) #{item.title}

        nav
          ul
            each item in menu
              li
                a(href='#{item.href}' data-scroll) #{item.title}

      .hero
        h2 WELCOME TO MY WEBSITE
        h1 ALEXANDRU ROSIANU
        h2 WEB DEVELOPER

      .scroll
        p
          a(href='#about' data-scroll) FIND OUT MORE
        a(href='#about' data-scroll)
          include svg/arrows.svg

    .below-fullscreen
      a(name='about' id='about')

      section
        h3
          span About Me

        ul.paragraphs
          each item in about
            li
              p
                span #{item.title}
                span !{item.description}

      img.me(alt='Alexandru Rosianu')

      a(name='skills' id='skills')

      section
        h3
          span Skills

        ul.skills
          each skill in skills
            li
              p
                span #{skill.title}
                span !{skill.description}

      a(name='portfolio' id='portfolio')

      section.inverted
        h3
          span Portfolio

        each row in portfolio
          .row
            each item, i in row
              .item
                a(href='#{item.url}')
                  img(src='img/portfolio-#{item.id}.jpg' width='400' height='250' alt='#{item.title}')

                footer
                  span
                    a(href='#{item.url}') #{item.title}

        p.more-portfolio See more code on #[a(href='https://github.com/aluxian') GitHub] and some designs on #[a(href='https://www.behance.net/aluxian') Bēhance].

      a(name='contact' id='contact')

      footer

        p Proudly hosted on #[a(href='https://github.com/aluxian/aluxian.com') GitHub].#[br]Designed and coded with &hearts; by myself.
        hr

        ul.social
          li
            a(href='https://www.facebook.com/aluxian' title='Facebook')
              include svg/facebook.svg
          li
            a(href='https://twitter.com/aluxian' title='Twitter')
              include svg/twitter.svg
          li
            a(href='https://github.com/aluxian' title='GitHub')
              include svg/github.svg
          li
            a(href='https://www.linkedin.com/in/AlexandruRosianu' title='LinkedIn')
              include svg/linkedin.svg
          li
            a(href='mailto:me@aluxian.com' title='Email')
              include svg/email.svg

    script(src='scripts.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45600261-1', 'auto');
      ga('send', 'pageview');
